--
-- PostgreSQL database dump
--

\restrict 6YlOgR6svrj4Fs2pof41CYwLa5FjU8lipCwiscwdH6OJZxbeRjmp8xj0BBZo8M3

-- Dumped from database version 18.2
-- Dumped by pg_dump version 18.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: authority_status; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.authority_status (
    id integer NOT NULL,
    monitoring_active boolean,
    emergency_team_ready boolean,
    notifications_sent boolean,
    recorded_at timestamp without time zone
);


ALTER TABLE public.authority_status OWNER TO postgres;

--
-- Name: authority_status_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.authority_status_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.authority_status_id_seq OWNER TO postgres;

--
-- Name: authority_status_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.authority_status_id_seq OWNED BY public.authority_status.id;


--
-- Name: dam_gate_status; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dam_gate_status (
    id integer NOT NULL,
    gate_number integer,
    status character varying(20),
    release_rate double precision,
    recorded_at timestamp without time zone
);


ALTER TABLE public.dam_gate_status OWNER TO postgres;

--
-- Name: dam_gate_status_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.dam_gate_status_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.dam_gate_status_id_seq OWNER TO postgres;

--
-- Name: dam_gate_status_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.dam_gate_status_id_seq OWNED BY public.dam_gate_status.id;


--
-- Name: flood_incidents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.flood_incidents (
    id integer NOT NULL,
    start_time timestamp without time zone,
    end_time timestamp without time zone,
    highest_risk_level character varying(20),
    peak_reservoir_level double precision,
    duration_minutes integer
);


ALTER TABLE public.flood_incidents OWNER TO postgres;

--
-- Name: flood_incidents_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.flood_incidents_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.flood_incidents_id_seq OWNER TO postgres;

--
-- Name: flood_incidents_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.flood_incidents_id_seq OWNED BY public.flood_incidents.id;


--
-- Name: flood_predictions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.flood_predictions (
    id integer NOT NULL,
    predicted_time timestamp without time zone,
    predicted_reservoir_level double precision,
    risk_level character varying(20),
    recommendation text,
    created_at timestamp without time zone
);


ALTER TABLE public.flood_predictions OWNER TO postgres;

--
-- Name: flood_predictions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.flood_predictions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.flood_predictions_id_seq OWNER TO postgres;

--
-- Name: flood_predictions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.flood_predictions_id_seq OWNED BY public.flood_predictions.id;


--
-- Name: rainfall_data; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rainfall_data (
    id integer NOT NULL,
    station_id integer,
    rainfall_mm double precision,
    recorded_at timestamp without time zone
);


ALTER TABLE public.rainfall_data OWNER TO postgres;

--
-- Name: rainfall_data_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rainfall_data_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rainfall_data_id_seq OWNER TO postgres;

--
-- Name: rainfall_data_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rainfall_data_id_seq OWNED BY public.rainfall_data.id;


--
-- Name: rainfall_stations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rainfall_stations (
    id integer NOT NULL,
    station_name character varying(100),
    latitude double precision,
    longitude double precision,
    description text
);


ALTER TABLE public.rainfall_stations OWNER TO postgres;

--
-- Name: rainfall_stations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rainfall_stations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rainfall_stations_id_seq OWNER TO postgres;

--
-- Name: rainfall_stations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rainfall_stations_id_seq OWNED BY public.rainfall_stations.id;


--
-- Name: reservoir_levels; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reservoir_levels (
    id integer NOT NULL,
    reservoir_name character varying(100),
    water_level_percent double precision,
    water_volume_mcm double precision,
    recorded_at timestamp without time zone
);


ALTER TABLE public.reservoir_levels OWNER TO postgres;

--
-- Name: reservoir_levels_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.reservoir_levels_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reservoir_levels_id_seq OWNER TO postgres;

--
-- Name: reservoir_levels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.reservoir_levels_id_seq OWNED BY public.reservoir_levels.id;


--
-- Name: weather_forecasts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.weather_forecasts (
    id integer NOT NULL,
    forecast_time timestamp without time zone,
    forecast_rainfall_mm double precision,
    forecast_period_hours integer,
    source character varying(100)
);


ALTER TABLE public.weather_forecasts OWNER TO postgres;

--
-- Name: weather_forecasts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.weather_forecasts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.weather_forecasts_id_seq OWNER TO postgres;

--
-- Name: weather_forecasts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.weather_forecasts_id_seq OWNED BY public.weather_forecasts.id;


--
-- Name: authority_status id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authority_status ALTER COLUMN id SET DEFAULT nextval('public.authority_status_id_seq'::regclass);


--
-- Name: dam_gate_status id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dam_gate_status ALTER COLUMN id SET DEFAULT nextval('public.dam_gate_status_id_seq'::regclass);


--
-- Name: flood_incidents id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.flood_incidents ALTER COLUMN id SET DEFAULT nextval('public.flood_incidents_id_seq'::regclass);


--
-- Name: flood_predictions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.flood_predictions ALTER COLUMN id SET DEFAULT nextval('public.flood_predictions_id_seq'::regclass);


--
-- Name: rainfall_data id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rainfall_data ALTER COLUMN id SET DEFAULT nextval('public.rainfall_data_id_seq'::regclass);


--
-- Name: rainfall_stations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rainfall_stations ALTER COLUMN id SET DEFAULT nextval('public.rainfall_stations_id_seq'::regclass);


--
-- Name: reservoir_levels id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservoir_levels ALTER COLUMN id SET DEFAULT nextval('public.reservoir_levels_id_seq'::regclass);


--
-- Name: weather_forecasts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weather_forecasts ALTER COLUMN id SET DEFAULT nextval('public.weather_forecasts_id_seq'::regclass);


--
-- Name: authority_status authority_status_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authority_status
    ADD CONSTRAINT authority_status_pkey PRIMARY KEY (id);


--
-- Name: dam_gate_status dam_gate_status_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dam_gate_status
    ADD CONSTRAINT dam_gate_status_pkey PRIMARY KEY (id);


--
-- Name: flood_incidents flood_incidents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.flood_incidents
    ADD CONSTRAINT flood_incidents_pkey PRIMARY KEY (id);


--
-- Name: flood_predictions flood_predictions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.flood_predictions
    ADD CONSTRAINT flood_predictions_pkey PRIMARY KEY (id);


--
-- Name: rainfall_data rainfall_data_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rainfall_data
    ADD CONSTRAINT rainfall_data_pkey PRIMARY KEY (id);


--
-- Name: rainfall_stations rainfall_stations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rainfall_stations
    ADD CONSTRAINT rainfall_stations_pkey PRIMARY KEY (id);


--
-- Name: reservoir_levels reservoir_levels_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservoir_levels
    ADD CONSTRAINT reservoir_levels_pkey PRIMARY KEY (id);


--
-- Name: weather_forecasts weather_forecasts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weather_forecasts
    ADD CONSTRAINT weather_forecasts_pkey PRIMARY KEY (id);


--
-- Name: rainfall_data rainfall_data_station_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rainfall_data
    ADD CONSTRAINT rainfall_data_station_id_fkey FOREIGN KEY (station_id) REFERENCES public.rainfall_stations(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 6YlOgR6svrj4Fs2pof41CYwLa5FjU8lipCwiscwdH6OJZxbeRjmp8xj0BBZo8M3

